export(import_nutrients, import_services, import_constraints, import_scenarios, scenarios, nutribal, nuts, ecoser)
importFrom(bigmemory, big.matrix, as.big.matrix, is.big.matrix, mpermute, sub.big.matrix, write.big.matrix, read.big.matrix)
importFrom(biganalytics, apply)
importFrom(compiler, cmpfun)
importFrom(partitions, restrictedparts)